#employer_panel {
	list-style: none outside none;
    margin: 0px;
   
	color:#f00;
	font-size:20px;
	clear: both;
    height: 35px;
	
    padding: 0 0 0 40px;
    position: relative;
   }	
#employer_panel li {
    background: url('../images/menu_images/menu_line.png') no-repeat scroll right 0px transparent;
    float: left;
    position: relative;
	padding:0 20px;
	height:28px;
}
#employer_panel li:last-child {
	background:none;
	}	
#employer_panel li > a {
	text-decoration:none;
	color:#f00 !important;
	cursor:hand;
	}	
#employer_panel li > a:hover {
	opacity:.7;}		

#employer_panel a.active { 
color:#fff !important; } 
 
	
#employer_panel li div {
	margin-right:10px;
	margin-top:3px;}		
	
#listed_job_icon {
    background: url('../images/menu_images/listed_jobs.png') 0 0;
    width: 14px;
    height: 16px;
    float: left;
}	
#account_setting_icon1 {
    background: url('../images/menu_images/account_settings.png') 0 0;
    width: 14px;
    height: 16px;
    float: left;
	opacity:.5;
}​
#candidate_icon {
    background: url('../images/menu_images/candidates_list.png') 0 0;
    width: 14px;
    height: 16px;
    float: left;
	opacity:.5;
}
#expired_job_icon {
    background: url('../images/menu_images/expired_jobs.png') 0 0;
    width: 14px;
    height: 16px;
    float: left;
	opacity:.5;
}​

#employer_panel li:hover > a{
	color:#ccc;
	background-color:#f00;}